*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(29,29,31);
}
header { 
    background: rgba(0, 0, 0, 0.8)

}

a {
    margin-left: 60px;
    text-decoration: none;
    color: rgb(81, 81, 84)
}

ul {
    list-style: none; 
}
.container{
    width: 90%;
    margin: auto;
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid rgb(81, 81, 84);
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}
.showcase{
    padding: 20px 0;
}
.showcase p {
    padding: 20px 30px;
}
.pro {
    color: red;
}
.fotomac{
    padding-bottom: 50px;
    margin: 50px 50px;
    height: 160px;
    width: auto;
    background: url('./assets/macbook-horizontal.jpg') no-repeat center center/cover
}


button{
    height: 20px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
    display: inline;
    border: 0;
    color: #ffffff;
    background: rgb(0, 113, 227);
}

.masinfo {
    color: rgb(0, 113, 227);
    padding-right: 50px;
}

.box{
    padding-top: 30px;
    margin: 10px;
    width: 500px;
	height: 500px;
	background-color: rgb(242, 242, 242);
    display: inline-flex;
    text-align: center;
}

.box1 h2{
    width: 180px;
    margin-left: 159px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.box1 img {
    width: 500px;
    height: auto;
    padding-top: 93px;
}

.box2 h4 {
    padding-left: 10px;
}
.box2 h2 {
    width: 200px;
    margin-left: 159px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box2 p {
    margin-bottom: 30px;
    width: 380px;
    margin-left: 60px;
}
.box2 a {
    padding-right: 40px;
}
.box2 img {
    width: 300px;
    height: auto;
    padding-top: 42px;
}
.final {
    margin: 160px;
}
.final h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.final p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.infomas {
    padding-right: 55px;
    color: rgb(0, 113, 227)
    
}
footer {
    
    background-color:rgb(245, 245, 247) ;
    width: 100%;
    height: 120px;
    text-align: justify;
}
footer ul {
    display: flex;
    
}

footer p {
    margin-bottom: 30px;
    margin-left: 50px;
    
}
footer a {
    margin: 20px;
    margin-left: 20px;
}
